

.etch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.etch {
    background-color: grey;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

#grid-box {
    background-color: grey;
}